<mat-sidenav-container class="container" [hasBackdrop]="hasBackdrop.value">
  <mat-sidenav #drawer [mode]="mode.value">
    I'm a sidenav
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between">
        <button (click)="onToggle()">
          Toggle
        </button>
        <div>LOGO</div>
        <a routerLink=".">Signup</a>
        <a routerLink=".">Login</a>
        <a routerLink=".">Logout</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="form">
    <mat-form-field>
      <mat-label>Sidenav mode</mat-label>
      <mat-select #mode value="side">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Has backdrop</mat-label>
      <mat-select #hasBackdrop>
        <mat-option>Unset</mat-option>
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>

  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
